/* styles.css */

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #EBEBEB;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.header-image {
  background-color: #389393; /* Set your desired background color */
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.header-content {
  padding: 20px;
}

.header-content h1 {
  font-size: 40px;
  color: #EBEBEB;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px #333;
}

nav ul {
  list-style: none;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #F5A25D;
  color: #EBEBEB;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-shadow: 0 2px 4px #333;
  box-shadow: 0 2px 4px #333;
  transition: transform 0.3s ease;
}

nav ul li a:hover {
  background-color: #FA7F72;
  color: #EBEBEB;
  transform: scale(1.1);
}

main section {
  margin-bottom: 40px;
}

/* Add border around h2 elements */
h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #389393;
  padding-bottom: 10px;
  margin-top: 20px;
}

p {
  margin-bottom: 15px;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 10px;
  color: #333;
}

.project {
  margin-bottom: 20px;
}

.project h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.social-links {
  list-style: none;
  text-align: center;
  margin-top: 20px;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li a {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 32px;
  color: #389393;
  text-decoration: none;
}

.social-links li a:hover {
  transform: scale(1.2);
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}

/* Custom classes for positioning and spacing */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

/* Responsive styles */

/* Adjust header image height for smaller screens */
@media (max-width: 768px) {
  .header-image {
    height: 300px;
  }
}

/* Make navigation buttons stack vertically on smaller screens */
@media (max-width: 480px) {
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}
